// Create custom variables:

$color1: rgb(32, 136, 129);
$color2: rgb(23, 23, 23);
$color3: rgb(128, 122, 14);
$orange: rgb(201, 135, 65);
$blue: rgb(43, 43, 142);
$pink: rgb(217, 48, 76);
$large: 600px;

// Also pass colors as an array like below:
$colors: rgb(67, 124, 151), rgb(146, 56, 151);