// Create custom variables:

$color1: rgb(32, 136, 129);
$color2: rgb(23, 23, 23);
$color3: rgb(128, 122, 14);
$orange: rgb(101, 57, 9);
$blue: rgb(101, 101, 164);
$pink: rgb(150, 92, 101);
$large: 600px;

// Also pass colors as an array like below:
$colors: rgb(67, 124, 151), rgb(146, 56, 151);