// All custom variables in _colors.scss file as a partial...


body {
    background-color: $color2;
    color: nth($colors, 2);
    width: $large;
    
}

// Can do nesting in sass like below:

.productCard {
    max-width: 600px;
    background-color: $red;
    a {
        color: $blue;
    }
    > h2{
        color: $pink;
    }
}